body {
    background-color: rgb(253, 253, 253);
    color: #332C39;
    margin: 0;
    font-family: "Roboto", "sans-serif";
    font-size: larger;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: linear-gradient(40deg, rgba(247,0,223,1) 0%, rgba(119,9,121,1) 50%, rgba(0,217,255,1) 100%);
    height: 100vh;
    color: white;
    font-size: 1.5em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    height: 70px;
    

}

nav a, ul li a {
    text-decoration: none;
    color: white;
    transition: 70ms;
}

nav a:hover, ul li a:hover {
    transform: scale(1.2);
    transition: 20ms;
    color: #c4c4c4;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.content {
    padding: 50px;
    text-align: center;
    background-color: #332c393c;
    border-radius: 13px;
    width: fit-content;
}

input {
   
    font-size: 1.1em;

}

button {
    background-color: white;
    font-size: 25px;
    border: none;
    border-radius: 13px;
    transition: 20ms;
    padding: 5px;
    margin: 10px;
}

button:hover {
    background-color: #332C39;
    color: rgb(255, 255, 255);
    transition: 70ms;
}

ul li {
    text-align: left;
    list-style-type: none;

}